@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


body{
    padding: 0 80px;
    margin: 0;
    background-image: url('/imgs/pexels-lukhe-30115463.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

*{

  font-family: 'Inter', sans-serif;
}



