header{
    display: flex;
    justify-content: space-between;
    padding-top:10px ;
    position: relative;
}

.List ul li{
    list-style: none;
    cursor: pointer;
    position: relative;
    
}

.List ul{
    display: flex;
    gap: 90px;
    
}

.List ul li, #myDropdown{
  font-weight: bold;
  color: #CCFFFF;
}


select option{
  color: black;
}
#myDropdown{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    text-transform: uppercase;


}

.hamburgermenu{
    display: none;
    margin: 0;
}


.List ul li::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: rgb(27, 27, 55);
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}
.List ul li:hover:after{
  width: 100%;
}

.List li,
.List select {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.ListHamburger{
  display: none;

}
.menu-item-with-icon{
    display: flex;
}
@media screen and (max-width: 900px) {
  .ListHamburger{
    display: block;
    height: 100vh;
    background-color: antiquewhite;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease-in ;
    z-index: 999;
}

.ListHamburger ul li{
    list-style: none;
}

.ListHamburger ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    gap: 5rem;

    padding: 0;
    margin: 0;
}

.ListHamburger li, 
.ListHamburger select{
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

}

.ListHamburger select{
  text-align: center;
  font-weight: 900;
}
  .hamburgermenu {
    display: block;
    position: absolute;
    right: 0;
    
  }

  .List ul{
    display: none;
  }
  header{
    padding: 0 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 700px){
  h2{
    font-size: 40px;
  }
  .hamburgermenu{
    display: flex;
    height: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 400px){
   h2{
    font-size: 30px;
  }
}